<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change me</title>
<!-- REPLACE ME WITH A FRAGMENT -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div id="main-content">

</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>